@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --theme: #15cc7d;
    --darktheme: #50c08e;
}
.theme-light {
    --selection: #2cce88;
    --selection-font: #333;
    --scrollbar: #9d9ea7;
    --scrollbar-hover: #f5f5f5;
    --scrollbar-active: #86878d;

    --font: #1d1d1d;
    --body: #f5f6fc;
    --navigation: #fff;
    --navigation-hover: #f1f2f3;
    --table: #ebecf1;
    --slider-btn: #fff;
    --slider-btn-color: #000;
    --input: #fff;
    --loader: #e6e6e6;
}
.theme-dark {
    --selection: #e7e8f2;
    --selection-font: #333;
    --scrollbar: #747781;
    --scrollbar-hover: #747781;
    --scrollbar-active: #86878d;

    --font: #e9eaf1;
    --body: #191a1b;
    --navigation: #232427;
    --navigation-hover: #2a2d30;
    --table: #222222;
    --slider-btn: #292a2e;
    --slider-btn-color: #d3d8e2;
    --input: #2a2d30;
    --loader:#3e3f4a;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font: 13px / 1.6 'Poppins', sans-serif;
    color: var(--font);
    background: var(--body);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    overflow: hidden;
}
a:link,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}
:focus {
    outline: none;
}
::placeholder {
    color: var(--input-placeholder);
}
::selection {
    background: var(--selection);
    color: var(--selection-font);
}
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    display: block;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    display: block;
    background: var(--scrollbar);
    background-clip: padding-box;
}
::-webkit-scrollbar-track {
    background: transparent;
}
button {
    font-family: inherit;
    user-select: none;
}

.container{
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}
.content {
    padding: 80px 100px;
}
.content p {
    font-size: 14px;
    padding: 25px;
    line-height: 2.3;
}
.content h1 {
    margin: 100px 0 32px;
    position: relative;
    left: 42px;
}
.content h1:first-child {
    margin-top: 0;
}
.content h1::before {
    content: '#';
    color: var(--theme);
    position: absolute;
    left: -43px;
}
.theme-dark .content p a {
    color: #121212;
}
.content p a {
    border: 0;
    user-select: none;
    background-color: var(--theme);
    padding: 7px 14px;
    border-radius: 6px;
    margin-left: 8px;
    cursor: pointer;
}
.content p a:hover {
    opacity: 0.92;
}
h1 {
    font-size: 2.4rem;
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.05);
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--navigation);
    user-select: none;
    z-index: 1000;
}
.nav > a {
    display: contents;
}
.nav ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav ol li {
    background: var(--navigation-hover);
    padding: 8px 15px;
    margin: 0 9px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .2s ease;
}
.nav ol li:hover {
    transform: translateY(-3px);
}
.theme-dark .nav ol li.active {
    color: #121212;
}
.nav ol li.active {
    background: var(--theme);
    font-weight: 500;
}
.nav ol li.active:hover { opacity: 0.92; }
.brand-logo {
    width: 180px;
    height: auto;
    position: absolute;
    left: 58px;
    top: 12px;
}
.theme-dark .brand-logo {
    filter: invert(100%) brightness(170%) hue-rotate(180deg);
}
.footer {
    position: relative;
    width: 100%;
    height: 260px;
    background: var(--theme);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #121212;
}
.footer-logo {
    position: absolute;
    width: auto;
    height: 70px;
    left: 22%;
    top: 70px;
    border-radius: 12px;
    margin-bottom: 28px;
}
.footer-yt {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 32.5%;
    top: 50px;
}
.footer-fb {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 22.5%;
    top: 50px;
}
.footer-copy {
    position: absolute;
    width: 430px;
    height: 50px;
    /*left: 25%;*/
    top: 210px;
    color: #212121;
}
.footer-href {
    position: absolute;
    width: 200px;
    height: 140px;
    right: 0;
    left: 0;
    margin: auto;
    top: 50px;
    color: #212121;
    font-weight: 400;
}
.footer-href ol {
    list-style: none;
    line-height: 2;

}
iframe {
    width: 640px;
    height: 350px;
    border-radius: 10px;
}
.showClassPlan{
    float: left;
    width: 82%;
    height: 700px;
    position: relative;
}
.classMenu {
    padding: 20px 10px;
    width: 18%;
    height: 700px;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
    background-color: var(--navigation);
    float: left;
}
.classMenu ol {
    list-style-type: circle;
    font-size: 17px;
}
.classMenu ol li {
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 6px;
    user-select: none;
}
.classMenu ol li a {
    color: var(--font);
}
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6{
    border-bottom: 3px solid transparent;
}
.classMenu ol li:hover {
    background: var(--navigation-hover);
}
.classMenu ol li:first-child {
    margin-top: 12px;
}
#plan1, #plan2, #plan3, #plan4, #plan5, #plan6 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px 100px;
    opacity: 0;
}
.tabela {
    width: 100%;
}
.tabela span {
    font-size: 100% !important;
}
@keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.l, .nr, .g {
    text-align: center;
}
td {
    user-select: none;
    cursor: pointer;
}
td span {
    display: inline-block;
}
td:hover {
    background: var(--table);
}
.empty-content {
    height: 300px;
}
.content.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-form label {
    margin: 9px 0;
}
.login-form h1 {
    font-size: 2.2rem;
    margin-left: -47px;
}
.login-input {
    background: var(--input);
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    width: 340px;
    display: block;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    color: inherit;
    font-family: inherit;
    margin-top: 4px;
}
.login-button {
    width: 340px;
    padding: 11px 15px;
    background: var(--theme);
    border-radius: 6px;
    border: none;
    margin-top: 14px;
    cursor: pointer;
}
.login-button:hover {
    opacity: 0.92;
}
.btn-logout {
    position: absolute;
    right: 69px;
    top: 10px;
    width: 100px;
    padding: 9px 8px;
    background: var(--theme);
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.btn-logout:hover {
    opacity: 0.92;
}
.video {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.video p {
    width: 500px;
    padding: 18px;
}
.content section {
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    flex-direction: column;
}
.content .adminPanelFindUsersError{
    display: none;
}
.content > section {
    justify-content: space-between;
    flex-direction: row;
}
.nav-name{
    position: absolute;
    right: 184px;
    top: 18px;
}
.video {
    position: relative;
    width: 280px;
    height: 413px;
    text-align: center;
}
.video-slider {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 rgb(0, 0, 0, 0.1);
}
.slider-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.1);
    background: var(--slider-btn);
    cursor: pointer;
    color: var(--slider-btn-color);
    margin-right: 7px;
    transition: all .08s ease;
}
.slider-btn:hover {
    transform: scale(1.03);
}
.slider-btn:last-child {
    margin-right: 0px;
}
.video-btns {
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    margin: auto;
    
}
.loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--body);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader.hide {
    animation: hideOut 1s;
    animation-fill-mode: forwards;
}
@keyframes hideOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.ladowanie {
    border: 10px solid transparent;
	border-top-color: var(--theme);
	border-right-color:var(--loader);
	border-bottom-color: var(--loader);
	border-left-color: var(--loader);
	animation: animation .8s infinite linear;
	border-radius: 50%;
	width: 80px;
    height: 80px;
}
@keyframes animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.theme-dark .link1 {
    color: #efefef !important;
}
.theme-dark .menu-toggler {
    filter: invert(99%);
}
video {
    cursor: pointer;
}
.theme-toggler {
    cursor: pointer;
}
.theme-container {
    font-size: 115%;
    left: 235px;
    line-height: 20px;
    margin-top: 13px;
    position: relative;
    left: -7px;
}
.theme-container input { 
    display: none; 
}
.theme-container input:checked ~ label::before { 
    content: "\2714"; 
    color: #000;
    background: var(--theme);
    border-color: var(--theme);
}
.theme-container label::before {
    display: inline-block;
    content: "\00a0";
    width: 20px;
    height: 20px;
    margin-right: 7px;
    /*border: 1px solid #e6e6e6;*/
    text-align: center;
    background: #eaeaea;
    border-radius: 5px;
}
.theme-container label { 
    cursor: pointer; 
    margin-left: 8px;
}
.theme-container label:hover::before { 
    background: #e4e4e4; 
}
.previewCode{
    border-radius: 12px;
}
.txt {
    width: 75%;
    text-indent: 20px;
}
select {
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: var(--theme);
   border: 0;
   padding: 6px 8px;
   border-radius: 5px;
   cursor: pointer;
   font-family: inherit;
   margin-left: 9px;
   user-select: none;
   position: relative;
}
select::before {
    content: '';
    position: absolute;
    right: 4px;
    top: 4px;
    width: 9px;
    height: 9px;
    border-bottom: 1px solid #121212;
    border-right: 1px solid #121212;
    transform: rotate(-35deg);
}
select:hover {
    opacity: 0.9;
}
td {
    padding: 11px;
}
.loader img {
    margin-left: 80px;
    width: 100px;
    height: auto;
    animation: animation .7s infinite linear;
}
.colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.color {
    width: 27px;
    height: 27px;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.color:hover {
    opacity: 0.92;
}
.menu-toggler {
    width: 23px;
    height: auto;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 18px;
    z-index: 10000000;
}
.settings-menu {
    position: fixed;
    left: 16px;
    top: 70px;
    background: var(--navigation);
    padding: 19px;
    border-radius: 5px;
    width: 330px;
    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 10%);
    display: none;
}
.settings-menu h3 {
    margin-top: 0;
    margin-bottom: 13px;
}
.contact-btn {
    width: 100px;
    padding: 9px 8px;
    background: var(--theme);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 50px;
}
.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    right: 19px;
}
.button {
    background: var(--theme);
    font-weight: 600;
    border-radius: 6px;
    padding: 8px 14px;
    border: 0;
    cursor: pointer;
}
.button:hover {
    opacity: 0.93;
}
.link1 {
    background: transparent;
    font-size: 17px;
    margin-top: -39px;
}
#sel {
    margin: 10px 5px;
    display: block;
}
.hh2 {
    display: none;
}
@media (min-width: 890px) {
    .res-menu {
        display: none !important;
    }
    table {
        table-layout: fixed;
    }
}
@media (max-width: 890px) {
    ::-webkit-scrollbar {
        width: 0;
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        background: transparent;
    }
    .btn-logout,
    .nav ol:not(.res-menu) {
        display: none;
    }
    .nav ol {
        padding: 9px;
    }
    .res-menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 15px !important;
        margin-top: 74px !important;
        z-index: 10000;
    }
    .res-menu li,
    .res-menu a {
        width: 100%;
        margin-left: 0 !important;
    }
    .res-menu a {
        margin-bottom: 11px;
    }
    .brand-logo {
        position: static;
    }
    .nav-name {
        right: 71px;
        margin-top: 1px;
        font-weight: 600;
    }
    .nav ol li {
        padding: 11px 15px;
        border-radius: 9px;
        text-align: center;
    }
    .nav ol li:hover {
        transform: none !important;
    }
    h1 {
        font-size: 1.9rem;
    }
    .login-form {
        position: relative;
        top: -20px;
    }
    .login-form h1 {
        font-size: 30px;
        margin-left: -9px;
        margin-bottom: 16px !important;
    }
    p {
        text-indent: 0 !important;
    }
    .settings-menu {
        width: 100vw;
        min-height: calc(50vh + 138px);
        left: 0;
        top: 60px;
        border-radius: 0;
        box-shadow: 0 4px 15px 0 rgb(0 0 0 / 10%);
    }
    .settings-menu h3:nth-child(2) {
        display: none;
    }
    .theme-h {
        margin-left: 8px;
    }
    .settings-menu h3:nth-last-child {
        position: relative;
        left: 7px;
    }
    .colors {
        display: none;
    }
    .color {
        margin-right: 12px;
        width: 29px;
        height: 29px;
    }
    .theme-container label::before {
        width: 25px;
        height: 25px;
    }
    .theme-container input ~ label::before {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .slider-btn {
        width: 36px;
        height: 36px;
        margin-right: 10px;
    }
    body {
        line-height: 1.52;
        user-select: none;
    }
    .content > section {
        justify-content: flex-start;
        flex-direction: column;
    }
    .content h1 {
        margin-bottom: 10px;
        margin-left: -9px;
        left: 28px;
        line-height: 1.6;
        width: calc(100vw - 58px);
    }
    .content h1::before {
        content: '#';
        position: static;
        margin-right: 8px;
    }
    .video {
        margin-top: 24px;
        width: 100%;
        height: 453px;
        display: flex;
        justify-content: center;
    }
    video {
        width: 260px;
        height: 454px;
        object-fit: cover;
    }
    .video-btns {
        bottom: -63px;
    }
    .content p {
        padding: 19px;
    }
    .content p a {
        display: table;
        padding: 4px 14px !important;
        margin-top: 15px;
        position: relative;
        left: -8px;
    }
    .txt {
        width: 100%;
    }
    .footer {
        height: 250px;
        padding-top: 0;
    }
    .footer img {
        width: 86px;
        height: 86px;
        position: static;
    }
    .footer-logo {
        display: none;
    }
    .footer-copy {
        top: 200px;
        position: absolute;
        left: 50% !important;
        margin-left: -160px;
        margin-top: -10px;
        text-align: center;
        font-size: 13px;
        width: calc(100vw - 60px);
    }
    .footer-href {
        display: none;
    }
    .theme-container {
        padding: 10px;
    }
    .login-form h1 {
        margin-left: -46px;
    }
    .login-form, .login-input, .login-button {
        width: 320px;
    }
    .local-header {
        margin-top: 26px !important;
        margin-bottom: 27px !important;
        left: 18px !important;
    }
    .local-map {
        height: 500px !important;
    }
    .ad-form {
        position: relative;
        margin-top: 40px;
        left: -14px;
        width: 100vw;
    }
    .ad-form form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .hh1 {
        display: none;
    }
    .hh2 {
        display: block !important;
        margin-top: 18px !important;
    }
}
@media (max-width: 937px) {
    .footer-copy {
        text-align: center;
    }
}
@media (max-width: 500px) {
    iframe {
        width: 100%;
        height: auto;
    }
    .content {
        padding: 20px 16px;
    }
    .ladowanie {
        width: 62px;
        height: 62px;
        border-width: 8px;
    }
    .classMenu{
        height: 150px !important;
    }
    .classMenu ol li {
        margin-top: 5px;
        margin-left: 3px;
        font-size: 12px;
        cursor: pointer;
        padding: 2px 4px;
        border-radius: 6px;
        user-select: none;
        display: inline-block;
        text-align: center;
    }
    #plan1, #plan2, #plan3, #plan4, #plan5, #plan6{
        transform: scale(0.5) !important;
        position: absolute;
        left: -80px;
        top: -120px;
        padding: 0;
        margin: 0;
    } 
}
@media (max-width: 1000px) {
    .classMenu {
        width: 100%;
        height: 125px;
        clear: both;
    }
    .showClassPlan {
        width: 100%;
        min-height: 500px;
        clear: both;
    }
    .classMenu ol {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .classMenu ol li {
        margin-left: 10px;
        font-size: 16px;
        cursor: pointer;
        padding: 5px 8px;
        border-radius: 6px;
        user-select: none;
        display: inline-block;
        text-align: center;
    }
    .nav .mainmenu {
        width: 90% !important;
        position: absolute;
        left: 100px !important;
    }
}
@media (max-width: 1250px) {
    #plan1, #plan2, #plan3, #plan4, #plan5, #plan6{
        transform: scale(0.8);
    } 
    .footer {
        height: 250px;
    }
    .footer img {
        width: 86px;
        height: 86px;
        position: static;
    }
    .footer-logo {
        margin-bottom: 4px;
    }
    .footer-copy {
        top: 200px;
        left: calc(50% - 160px);
    }
    .footer-href {
        display: none;
    }
    .nav .mainmenu a img{
        display: none;
    }
    .nav .mainmenu{
        width: 80%;
        position: absolute;
        left: 100px;
    }
    .nav ol {
        justify-content: flex-start !important;
    }
    .adminPanelFindUsers{
        display: none !important;
    }
    .adminPanelFindUsersError{
        display: block !important;
    }
}
@media (max-width: 1150px) {
    #plan1, #plan2, #plan3, #plan4, #plan5, #plan6{
        transform: scale(0.7);
        position: absolute;
        left: -80px;
        top: -75px;
        padding: 0;
        margin: 0;
    } 
}
.d-cont {
    position: absolute;
    top: -44px;
    z-index: -1;
    transform: scale(0.9);
}
.glitch {
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 38px;
    padding: 32px;
}
.glitch::before, .glitch::after {
    position: absolute;
    content: attr(data-text);
    overflow: hidden;
    white-space: nowrap;
    background: var(--navigation);
    left: 0;
    top: 32px;
    padding: 32px;
}
.glitch::before {
    left: 3px;
    text-shadow: -3px 2px #87cefa;
    animation: glitch-1 3s ease-in reverse infinite;
}
.glitch::after {
    left: -3px;
    text-shadow: -5px 2px var(--navigation);
    animation: glitch-2 3s ease-in-out reverse infinite;
}
@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}
.theme-dark .glitch {
    color: #fff !important;
    letter-spacing: 0;
}
.theme-dark .glitch::before {
    text-shadow: -3px 2px #75b2d8;
}
.active-logout{
    background-color: #ffffff !important;
    color: black !important;
}
